fastapi==0.115.0
uvicorn==0.30.6
python-multipart==0.0.9
reportlab==4.2.2
aiofiles==23.2.1
numpy==1.26.4
Pillow==10.4.0
torch==2.5.1
torchvision==0.20.1
scikit-learn==1.5.2
albumentations==1.4.18
grad-cam==1.5.5
pandas==2.2.3
groq==1.4.0
python-dotenv==1.0.0
pydicom==2.4.4
torchxrayvision